<h1 align="center">Application MEAN STACK</h1>
<h3 align="center">Global Knowledge Février 2021</h3>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" routerLink="/ListEquipes">Liste des équipes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/AddEquipe">Ajouter une équipe</a>
      </li>
     
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>